<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:cxf="http://cxf.apache.org/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/core
        http://cxf.apache.org/schemas/core.xsd">

    <!-- mybatis配置相关 -->
    <import resource="spring-base.xml" />


    <context:component-scan base-package="com.goku.webservice.controller"/>

    <!-- import CXF configuration files -->
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>


    <!-- IP地址输入拦截器-->
    <bean id="ipAddressInInterceptor"
          class="com.goku.webservice.Interceptor.IpAddressInInterceptor" />

    <!-- 全局Bus(输入拦截器)-->
    <cxf:bus>
        <cxf:inInterceptors>
            <ref bean="ipAddressInInterceptor" />
        </cxf:inInterceptors>
    </cxf:bus>

    <!-- 第一个测试级WebService服务发布 -->
    <jaxws:endpoint id="BusService" implementor="com.goku.webservice.controller.impl.BusControllerImpl" address="/BusService"  />

</beans>