<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sysUserMapper">
    <select id="SelectOne" parameterType="java.util.HashMap" resultType="java.util.HashMap">
    select * from user_ where id = #{id,jdbcType=VARCHAR} limit 0,20
  </select>
    <select id="SelectProc" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        {call get_user(#{id,jdbcType=VARCHAR})}
  </select>
    <select id="SelectList" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
        select * from user_
        <where>
            <if test="male_ != null and male_!=''">
                AND  male_ = #{male_,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <insert id="insert" parameterType="java.util.HashMap">
        insert into user_test(id, name) values(#{id}, #{name})
    </insert>
    <update id="update" parameterType="java.util.HashMap">
       update user_test set name=#{name} where id=#{id}
    </update>
    <delete id="delete" parameterType="java.util.HashMap">
        delete from user_test  where id=#{id}
    </delete>
    <select id="SelectById" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select count(1) from user_test  where id=#{id}
    </select>
</mapper>